.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.text-ellipsis {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-cell {
  white-space: nowrap;
  text-align: center;
}

.status-cell .badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 110px; /* largura do maior texto "Em andamento" */
  padding: 0.4em 0.6em;
}
